[submodule "scd4x_driver"]
	path = scd4x_driver
	url = https://github.com/kiedtl/raspberry-pico-i2c-scd4x
[submodule "rf24"]
	path = rf24
	url = https://github.com/nrf24/rf24
[submodule "rf24network"]
	path = rf24network
	url = https://github.com/nrf24/rf24network
[submodule "rf24mesh"]
	path = rf24mesh
	url = https://github.com/nrf24/rf24mesh
[submodule "u8g2"]
	path = u8g2
	url = https://github.com/olikraus/u8g2
